/* fuente google font*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* Variables */
:root{
    --color-navbar: rgb(0, 0, 0);
    --color-backgroundNavbar: rgba(212, 210, 210, 0.8);
    --color-title: #df991b;
    --color-button: rgb(131, 128, 128);
    --color-form: rgba(146, 165, 199, 0.2);
    --font-google: 'Lato', sans-serif;
}

/* seteo de estilos */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

button {
  padding: 12px 40px;  
  border: none;
  border-radius: 10px;
  background-color: var(--color-button);
  color: white;
  font-size: 18px;
  margin: 3% 0;
}

li{
    list-style: none;
}

/* Start Header */
.navbarHeader{
    width: 100%;
    height: fit-content;
    padding: 0 10px;
    position: fixed;
    background-color: var(--color-backgroundNavbar);
}

/* Nombre de la empresa */
.miami, .hoteles {
    display: block; 
    font-family: var(--font-google);
    color: rgb(10, 10, 10);
}

.miami {
    font-weight: bold; 
}

.hoteles {
    font-weight: normal; 
}

/* navbar   */
.navbarHeader .navbar{
    height: 100%;
    display: flex;   
    justify-content: space-between;
    align-items: center;    
    
}

/* links del navbar */
.navbarHeader .navbarContainerLinks{
    height: fit-content;
    display: flex;
    gap: 40px;
}

.navbarHeader .navbarContainerLinks a{
    text-decoration: none;
    color: var(--color-navbar);
    font-size: 18px;
    font-family: var(--font-google);
}

/* End Header */


/* Start Header Description */
.headerDescriptionContainer{
    width: 100%;
    height: 850px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: gray;
    background-image: url(../img/portada.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.headerDescription{
    width: 490px;
    height: fit-content;
    padding: 60px 80px;
    border-radius: 0 60px 60px 0;
    background-color: rgb(245, 229, 229);
}

.headerDescription h2{
    font-family: var(--font-google);
    font-weight: bold;
    font-size: 60px;
}

/* End Header description */

/* START MAIN */
.hotelCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;  
  padding: 5% 2% ;
}

.propertiesImg{
  width: 80%;
  height: 100%;
  object-fit: cover;  
}

.containerRates{
  width: 90%;
  padding: 5% 0 ;
  text-align: start;
}

.containerRatesLeft{
  width: 90%;
  padding: 5% 0 ;
  text-align: start;
}

.containerRates .descriptionRates, .containerRatesLeft .descriptionRates{
  text-align: justify;
}

.containerRates li, .containerRatesLeft li{
  list-style: none; 
}

.containerRates h6, p, li, .containerRatesLeft h6, p, li{
  margin: 2% 0;
}

.containerRates h6, .containerRatesLeft h6{
  font-weight: bold;
  font-size: 1vw;
}

.containerRates h3, h4, .containerRatesLeft h3, h4{
  color: var(--color-title);
}

.containerRates h2, .containerRatesLeft h2{
  font-size: 2vw;
}

/* END MAIN */

/* Start reservation form */
.reservationContainer h5{
  font-size: 2vw;
  padding: 2% 0;
  font-weight: bold;
  text-align: center;
}

.reservationContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reservationContainerDiv{
  width: 70%;
  height: fit-content;
  background-color: var(--color-form);
  border-radius: 4%;
  text-align: center;  
}

.reservationContainerDiv form{  
  padding: 4% 2%;  
}

#dates, #customerType{
  height: 6vh;
  width: 20vw;
  border: 1px solid rgb(192, 232, 247);
  border-radius: 10px;
  font-size: 14px;
  color: rgb(10, 10, 10);
  background: none;
  text-align: center;
}
/* End reservation form */

/* Start result container */
.resultDiv{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;  
  padding: 5% 2% ;
  width: 100%;
  height: 100%;
  
}

.resultDiv h2{  
  font-size: 30px;
  font-weight: bold;
  font-family: var(--font-google);
}

.resultDiv h3{
  color: var(--color-title);
  font-size: 25px;
  font-weight: bold;  
}

.resultDiv li{
  list-style: none; 
}

.resultDiv img{
width: 80%;
height: 100%;
object-fit: cover;  
}

/* End result container */


/* Start footer */
#contact {
  background-color: var(--color-backgroundNavbar);
  width: 100%;
  padding: 1% 0;  
}
#containerFooter {  
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
  color: var(--color-navbar); 
}
/* DIVISIÓN DEL PIE DE COPYRIGHT */
.footer-bar {
  width: 100%; 
  height: 2px;   
  background-color: var(--color-navbar)  
}

/* SECCIÓN COPYRIGHT */
#copyright {
  text-align: center;  
  width: 100%;  
  height: fit-content;
}
#copyright h4{
  color: var(--color-navbar);   
}

/* End footer */